@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  box-sizing: border-box;
  /*transition-duration: 0.3s;*/
  font-family: "Montserrat";
}

body{
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin:auto;
}

header {
background-color: #098e6f;
box-shadow: 0px 5px 15px #18ad8a;
height: 15vw;
}
/* jai du faire trois id pour les icons ca marche pas avec materialize pour le css */
#returnMenu {
  margin-top: 2vw;
  position: absolute;
  font-size: 10vw;
  color: white;
  text-shadow: 3px 3px 10px black;
}
#returnPage{
  margin-top: 2vw;
  position: absolute;
  margin-left: 10vw;
  font-size: 10vw;
  color: white;
  text-shadow: 3px 3px 10px black;
}
#logOutButton{
  margin-top: 2vw;
  position: absolute;
  font-size: 10vw;
  color: white;
  margin-left: 85vw;
  text-shadow: 3px 3px 10px black;

}
.currentPage{
  height: 10vw;
  width: 60vw;
  font-size: 5vw;
  padding-top: 3vw;
  margin-left: 22vw;
  color: white;
  overflow: hidden;
}

.fixed-action-btn{
margin-right: 25vw;
}
.btn-large{
  width: 50vw;
  height: 10vw;
  padding-top: 2vw;
  background-color: green;
  font-size: 3vw;
  border-radius: 2vw;

}

.action-button{
  margin-bottom: 6vw;
  margin-right: 2vw;
  width: 15vw;
  height: 7vw;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
}


/************************************************************************************/


img{
  width: 30%;
  margin-left: 37%;
  margin-top: 20%;
}
/*** FORM LOGIN*/

form{
  margin-left: 15%;
  margin-top: 15%;
  font-size: 3vw;
}

#disabled{
    font-size: 1vw;
}

form div .input-field label{
    font-size: 1vw;
}

#email{
  padding-bottom: 0.5vw;
}

#password{
  padding-bottom: 0.5vw;
}

form p{
  padding-left: 1vw;
}

.input-field label{
  margin-bottom: 0.2vw;
}

.button-field button{
  width: 50%;
  border-style: none;
  background-color: #929393;
  color : white;
  border-radius: 25px;
  padding:1vh 2vw 1vh 2vw;
  margin-left: 26%;
  margin-top: 3vw;
}


/*********lists *********/
.collapsible{
  font-size: 2.5vh;
}
#userListButtons button{
  width: 20vw;
}
.collection{
  font-size: 3.5vw;
}

/*** HOME PAGE ***/

ul {
  margin-left: 6vw;
  font-size: 1.5vw;
  margin-top: 4vw;
}

li{
  margin-bottom: 1rem;
}

div .button-field button{
  background-color: #00D646;
}

input+label{
  margin : 1vh 5vw;
}
