@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  box-sizing: border-box;
  /*transition-duration: 0.3s;*/
  font-family: "Montserrat";
}

body{
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin:auto;
}

img{
  width: 30%;
  margin-left: 37%;
  margin-top: 20%;
}
/*** FORM LOGIN*/

form{
  margin-left: 15%;
  margin-top: 15%;
  font-size: 3vw;
}

#disabled{
    font-size: 1vw;
}

form div .input-field label{
    font-size: 1vw;
}

#email{
  padding-bottom: 0.5vw;
}

#password{
  padding-bottom: 0.5vw;
}

form p{
  padding-left: 1vw;
}

.input-field label{
  margin-bottom: 0.2vw;
}

.button-field button{
  width: 50%;
  border-style: none;
  background-color: #929393;
  color : white;
  border-radius: 25px;
  padding:1vh 2vw 1vh 2vw;
  margin-left: 26%;
  margin-top: 3vw;

}

/*** HOME PAGE ***/

ul {
  margin-left: 6vw;
  font-size: 1.5vw;
  margin-top: 4vw;
}

li{
  margin-bottom: 1rem;
}

div .button-field button{
  background-color: #00D646;
}

input+label{
  margin : 1vh 5vw;
}