{% extends "layout.html.twig" %}

{%  block pagename %}
    HOME
{% endblock %}

{% block content %}
    <div id"homelist">
    <ul>
        <li>MY PROFILE</li>
        <li>MY PROJECTS</li>
        <li>SETTINGS</li>
    </ul>
    </div>

{% endblock %}