{% extends "layout.html.twig" %}

{% block content %}
<main>
  <img src="lib/img/Serpico.png" alt="logo Serpico">
  <form class="col s10">
    <div class="row">
      <div class="input-field col s10">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div id="formulaire" class="row">
      <div class="input-field col s10">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <p>
      <input type="checkbox" id="test5" checked/>
      <label for="test5">Remember me</label>
    </p>
    <div class="row">
      <div class="button-field col s10">
        <button type="submit" class="validate">LOG IN</button>
      </div>
    </div>
  </form>
</main>
{% endblock %}
