{% extends "layout.html.twig" %}

{% block pagename %}
Select participants
{% endblock %}

{% block content %}
  <section class="col s10">

    <input type="text" name="fakesearchbar" placeholder="FAKE SEARCH BAR">
    {% for user in users %}
      <ul class="collection">
        <li class="collection-item">
            {{ user['firstname']  }}
            {{ user['lastname'] | upper }}
            <br>
              {{user['username']}}
            <span class="secondary-content" >
              <button type="submit" class="waves-effect waves-light btn action-button">ADD</button>
              <!-- le if sera pour ajoute ou non  -->

      </span>
    </li>
  </ul>
{% endfor %}
<div class="fixed-action-btn">
  <a class="waves-effect waves-light btn-large">ADD PARTICIPANTS</a>
</div>
</section>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/participants.js') }}"></script>
{% endblock %}
