{% extends "layout.html.twig" %}

{% block pagename %}
Select participants
{% endblock %}

{% block content %}
  <section class="col s10">

    <input type="text" name="fakesearchbar" placeholder="FAKE SEARCH BAR">
    {% for user in users %}
      <ul class="collection">
        <li class="collection-item">
            {{ user['firstname']  }}
            {{ user['lastname'] | upper }}
            <br>
              {{user['username']}}
            <span class="secondary-content" >
              <button type="submit" class="waves-effect waves-light btn action-button">ADD</button>
              <!-- le if sera pour ajoute ou non  -->
              {% if user['id'] > 10 %}
                <i class="material-icons">done</i>
          {% elseif user['id'] <= 10 %}
            <i class="material-icons">clear</i>
      {% endif %}
      </span>
    </li>
  </ul>
{% endfor %}
<div class="row">
  <div class="button-field col s10">
    <button type="submit" class="validate">SEE ACTIVITY PREVIEW</button>
  </div>
</div>
</section>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/participants.js') }}"></script>
{% endblock %}
